.console {
	background-color:#0d1926;
	color:#d9e6f2;
	font-family:Monospace;
	font-size:10pt;
	
	height:80%;
	width:100%;
	min-height:50pt;
	overflow-y:auto;
	word-wrap: break-word;
	padding-left:1pt;
	margin-left: 2pt;

}
.history {
	margin:0pt 0pt 0pt 0pt;
	padding:0pt 0pt 0pt 0pt;
	width:100%;
	overflow-y:auto;
	overflow-x:hidden;
	font-weight:300;
}
#title {
	font-weight:900;
	padding: 15pt 0pt 10pt 0pt;
}
.consoleInput {
	display:inline-block;	
	background-color:#0d1926;
	color:#d9e6f2;
	font-family:Monospace;
	font-size:10pt;
	
	width:100%;
	margin: 0pt 0pt 0pt 0pt;
	padding:0pt 0pt 0pt 0pt;
	border:none;
	resize:none;

}
.consoleInput:focus {
	outline:none; /*remove outline from input box when in focus*/
}
